YOLO_MODEL = "models/yolov8n.pt"

DATASET_PATH = "dataset"

TOLERANCE = 0.5

DEEPSORT_MAX_AGE = 30
DEEPSORT_N_INIT = 3
DEEPSORT_MAX_COSINE_DISTANCE = 0.4

SAVE_UNKNOWN = True
UNKNOWN_PATH = "output/unknown"

DELAY_30 = 30
DELAY_60 = 60

TELEGRAM_BOT_TOKEN = "Token_Bot"
TELEGRAM_CHAT_ID = "Chat_ID"
TELEGRAM_UNKNOWN_TEXT_DELAY = 10
TELEGRAM_UNKNOWN_PHOTO_DELAY = 30
